.footer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 50px 0px;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.footerBg {
  background: linear-gradient(113deg, #e0c18f 39.5%, #9a7c62 152.23%);
  margin-top: 100px;
}

.footerSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerSection > a {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  text-decoration: none;
  color: #fff;
}

.footerSection > span {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
}

.footerSection > p {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.footerPhone {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerPhone > a {
  font-size: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: #fff;
}

.footerPhone > span {
  font-size: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerPhoneNumbers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footerPhoneNumbers > a {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  color: #fff;
}

.text-align-right {
  text-align: end;
  display: flex;
  justify-content: flex-end;
}

.cursor {
  cursor: pointer;
}
